@charset "UTF-8";

html, .body {
	min-height: 100%;
	overflow-x: hidden;
}

a {line-height: 200%;}
a, button {transition: all 0.75s linear;}
/*Seletores*/
::-webkit-selection {
	background: #222;
	color: #e58526;
}
::-moz-selection {
	background: #222;
	color: #e58526;
}
::selection {
	background: #222;
	color: #e58526;
}
.btn{
	border-color: #e58526;
	color: #e58526;
}
.btn:hover{
	background: #e58526;
	color: #fff;
}
/*Header*/
.header {
	background: rgba(0, 0, 0, 0);
	margin-bottom: -80px;
	position: relative;
	z-index: 3;
	top: 0;
	width: 100%;
}

.header-logo {
	display: block;
	margin: auto;
}

.swiper-container {
    width: 100%;
    height: 55vh;
}
@media (min-width: 1024px) {
    .swiper-container {height: 100vh;}
}
.swiper-slide{
	background-size: cover;
}
.swiper-slide::after{
	background-color: rgba(0,0,0,0.8);
	content: '';
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 2;
}
.banner-title{
	color: #e58526;
	font-family: "Raleway", "Arial", sans-serif;
	font-weight: normal;
	text-align: center;
	position: relative;
	z-index: 3;
}
/*Seta do banner*/
.arrow{
    position: absolute;
    bottom: calc(0% + 40px);
    left: 50%;
    transform: translate(-50%,-50%);
	z-index: 2;
}
.arrow span{
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid #e58526;
    border-right: 1px solid #e58526;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
/*Conteudo home*/
/*Titulo*/
.title,.subtitle {
	color: #e58526;
	font-family: "Raleway", "Arial", sans-serif;
	margin-bottom: 15px;
}
.title{font-size: 30px;}
.title:after{
	content: '';
	background: #e58526;
	display: block;
	height: 2px;
	margin-top: 10px;
	width: 100px;
}
.subtitle {font-size: 21px;}

p {
	color: #222;
	font-family: "Raleway", "Arial", sans-serif;
	font-size: 16px;
	font-weight: normal;
}
.home-quemSomos{
	background: #FFF;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
	margin-bottom: 40px;
	margin-top: 5px;
	padding: 25px;
	position: relative;
	z-index: 2;
}
.home-local_img{
	box-shadow: 0px 0px 2px 0px rgba(229, 133, 38,0.5);
	border-radius: 5px;
}
.home-sobre_link{
	border-bottom: 1px solid transparent;
	color: #e58526;
}
.home-sobre_link:hover,
.home-sobre_link:focus{
	border-bottom-color: #e58526;
	color: #e58526;
}
.justify-content-end .home-localBox{
	margin-top: -60px;
}
/*Servi├ºos*/
.home-servico_item {
	color: #222;
	font-family: "Raleway", "Arial", sans-serif;
	font-size: 17px;
	font-weight: normal;
}
.home-galeria_img{
	opacity: 0.7;
	margin-bottom: 15px;
	transition: all 0.75s linear;
}
.home-galeria_img:hover,
.home-galeria_img:focus{
	opacity: 1;
}
.footer-maps {
	display: block;
	height: 350px;
}
/*Footer*/
.footer {
	background-color: #EDEDED;
	border-bottom: 1px solid #FFDC00;
	border-top: 1px solid #FFDC00;
	color: #121212;
	text-align: center;
	position: relative;
}
.footer-box{
	margin-bottom: 35px;
	margin-top: 35px;
}
.footer_title {
	color: #e58526;
	font-family: "Raleway", "Arial", sans-serif;
	font-weight: normal;
}

/*Links footer*/
.footer_link {
	border-bottom: 1px solid transparent;
	color: #121212;
	font-size: 15px;
	font-weight: normal;
}
.footer_link:hover, .footer_link:focus, .footer_link:active {
	border-bottom-color: #e58526;
	color: #e58526;
	text-decoration: none;
}
.footer_link-topo{
	border-bottom: 1px solid transparent;
	color: #121212;
	display: block;
	font-size: 16px;
	font-weight: normal;
	margin-top: -40px;
}
.footer_link-topo:hover, .footer_link-topo:focus, .footer_link-topo:active {
	border-bottom-color: #e58526;
	color: #e58526;
	text-decoration: none;
}
.footer_social {
	color: #222;
	display: inline-block;
	height: 32px;
	line-height: 32px;
	text-align: center;
	width: 32px;
}
.footer_social:hover, .footer_social:focus, .footer_social:active {
	color: #e58526;
	text-decoration: none;
}

/*Copyright*/
.copy {
	margin-top: 5px;
	text-align: center;
}
.copy p{
	margin-bottom: 5px
}
.copy_link {
	border-bottom: 1px solid transparent;
	color: #444;
	font-family: "Raleway", "Arial", sans-serif;
	font-size: 15px;
	font-weight: normal;
}
.copy_link:hover, .copy_link:focus, .copy_link:active {
	border-bottom-color: #444;
	color: #444;
	text-decoration: none;
}